<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar class="header-background-color">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-segment [(ngModel)]="segmentInitialValue" slot="start" (ionChange)="segmentEvent($event)">
      <ion-segment-button value="today-accept" class="ion-text-nowrap"><span><span class="ion-hide-md-down">Today</span> Accept</span>
      </ion-segment-button>
      <ion-segment-button value="accepted-list"><span><span class="ion-hide-md-down">Accepted</span> List</span>
      </ion-segment-button>
    </ion-segment>

    <ion-badge slot="end" color="danger" class="ion-margin-end">
      {{data.length}}
    </ion-badge>
    <ion-icon slot="end" class="ion-hide-md-down" name="reload-outline" (click)="listReload()"></ion-icon>

    <ion-button size="small" color="dark" slot="end" fill="clear">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>


    <ion-button [disabled]="segmentInitialValue == 'accepted-list'" class="ion-margin-end" size="small" slot="end"
                color="dark" (click)="openAdd = !openAdd" fill="clear">
      <ion-icon *ngIf="!openAdd" name="add"></ion-icon>
      <ion-icon *ngIf="openAdd" name="close"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <luris-multi-list [header]="header" [data]="data" [itemSize]="35"></luris-multi-list>
  </ion-content>


<ion-footer>
      <luris-multi-form *ngIf="openAdd" [FormInput]="FormInput" (formOutput)="formOutput($event)"></luris-multi-form>
</ion-footer>



