<ion-header mode="ios">
  <ion-toolbar>
    <ion-menu-button (click)="showMenu()"  slot="start"  ></ion-menu-button>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="--background: #FAFBFF">
  <ion-grid *ngIf="dashboardData" class="ion-no-padding">
    <ion-row style="align-items: center">




      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
        <ion-card button="true" style="box-shadow: none">
          <ion-card-header *ngIf="true">
            <ion-card-subtitle
              style="color: #808080; text-transform: capitalize; font-weight: bold; font-size: 14px; margin-left: 2px">
              Today income
            </ion-card-subtitle>
            <ion-card-title style="color: #52526C; ">
              {{dashboardData.todayIncome}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
        <ion-card button="true" style="box-shadow: none">
          <ion-card-header *ngIf="true">
            <ion-card-subtitle
              style="color: #808080; text-transform: capitalize; font-weight: bold; font-size: 14px; margin-left: 2px">
              Today expense
            </ion-card-subtitle>
            <ion-card-title style="color: #52526C; ">
              {{dashboardData.todayExpense}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
        <ion-card button="true" style="box-shadow: none">
          <ion-card-header *ngIf="true">
            <ion-card-subtitle
              style="color: #808080; text-transform: capitalize; font-weight: bold; font-size: 14px; margin-left: 2px">
              This month income
            </ion-card-subtitle>
            <ion-card-title style="color: #52526C; ">
              {{dashboardData.thisMonthIncome}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
        <ion-card button="true" style="box-shadow: none">
          <ion-card-header *ngIf="true">
            <ion-card-subtitle
              style="color: #808080; text-transform: capitalize; font-weight: bold; font-size: 14px; margin-left: 2px">
              This month expense
            </ion-card-subtitle>
            <ion-card-title style="color: #52526C; ">
              {{dashboardData.thisMonthExpense}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>


</ion-content>

