
  <ion-content>

    <ion-card   class="ion-no-margin ion-no-padding" style="box-shadow: none !important">

<!--    <ion-card [disabled]="PS.loadingState" class="ion-no-margin ion-no-padding" style="box-shadow: none !important">-->

      <ion-grid fixed="true">

        <ion-row>

          <ion-col size-xs="12" size-sm="4" offset-sm="8">

            <luris-email-auth-form *ngIf="showForm" [alert]="alert"   (formOutput)="formOutputData($event)"></luris-email-auth-form>

          </ion-col>

        </ion-row>

      </ion-grid>



    </ion-card>
   </ion-content>
