   <ion-header mode="ios">
     <ion-toolbar class="ion-text-center">
       <ion-title class="ion-text-wrap">
         {{props?.title}}
       </ion-title>
       <ion-button  (click)="POS.popoverDismiss()" size="small" fill="clear" slot="end">
         <ion-icon color="dark" name="close-outline"></ion-icon>
       </ion-button>
     </ion-toolbar>
  </ion-header>
   <ion-content class="ion-padding">
     <ion-item lines="none" class="ion-text-center">
       <ion-card-subtitle class="ion-text-wrap ion-margin-bottom">{{props?.subtitle}}</ion-card-subtitle>
     </ion-item>

     <ion-row class="ion-justify-content-center">
<!--        <ion-button      size="small" color="success" (click)="popoverBoolean('No')">No</ion-button>-->
       <ion-button    size="small" color="danger" (click)="popoverBoolean('Yes')">Yes</ion-button>
     </ion-row>
    </ion-content>




