<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar class="header-background-color">
    <ion-menu-button slot="start" (click)="showMenu()"></ion-menu-button>
    <ion-title>Shop Detail</ion-title>
    <ion-button slot="end" size="small" (click)="openAdd = !openAdd" fill="clear">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-note style="margin-left: 5px">
    Shop
  </ion-note>
  <ion-card mode="ios" class="ion-no-margin ion-no-border" style="margin-top: 5px; margin-bottom: 25px">


       <ion-item lines="none">
        <ion-label color="medium">
          Name
        </ion-label>
        <ion-text>
          Top (mobile service)
        </ion-text>
      </ion-item>
   </ion-card>


  <ion-note  style="margin-left: 5px">
    Place
  </ion-note>
  <ion-card mode="ios"  class="ion-no-margin" style="margin-top: 5px; margin-bottom: 25px">

    <ion-item>
      <ion-label color="medium">
       Phone
      </ion-label>
      <ion-text>
        09123123123
      </ion-text>
    </ion-item>
    <ion-item  class="ion-text-wrap"  lines="none">
      <ion-label color="medium">
         Address
      </ion-label>
      <ion-text>
        09123123123
      </ion-text>
    </ion-item>
  </ion-card>


  <ion-note  style="margin-left: 5px">
    Terms and conditions
  </ion-note>

  <ion-card mode="ios"  class="ion-no-margin" style="margin-top: 5px; margin-bottom: 25px">

    <ion-item class="ion-text-wrap">
      <ion-label color="medium">
        Rules
      </ion-label>
      <ion-text>
       If you lose voucher not responsible.
      </ion-text>
    </ion-item>

  </ion-card>



</ion-content>

<ion-footer  *ngIf="openAdd">
  <luris-multi-form  [FormInput]="FormInput" (formOutput)="formOutput($event)"></luris-multi-form>
</ion-footer>
