<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar class="header-background-color">
    <ion-title>Shop Detail</ion-title>
    <ion-button slot="end" (click)="setShopDetail()" fill="clear">
      <ion-icon name="check-mark-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item-divider style="background: transparent">
     <strong>Shop</strong>
    </ion-item-divider>
       <ion-item>
        <ion-label>
          <ion-note>Name</ion-note>
        </ion-label>
        <ion-card-subtitle color="dark">
          Top (mobile service)
        </ion-card-subtitle>
      </ion-item>
   </ion-card>

  <ion-card>
    <ion-item-divider>
      <strong>Place</strong>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-note>Phone</ion-note>
      </ion-label>
      <ion-card-subtitle color="dark">
        09123123123
      </ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-note>Address</ion-note>
      </ion-label>
      <ion-card-subtitle color="dark">
        09123123123
      </ion-card-subtitle>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item-divider>
      <strong>Terms and conditions</strong>
    </ion-item-divider>
    <ion-item class="ion-text-wrap">
      <ion-label>
        <ion-note>Rules</ion-note>
      </ion-label>
      <ion-card-subtitle color="dark">
       If you lose voucher not responsible.
      </ion-card-subtitle>
    </ion-item>

  </ion-card>



</ion-content>
